{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block header %}
    {% endblock %}

    <link rel="stylesheet" id='twentytwelve-style-css' href="{% static 'blog/css/style.css' %}" type="text/css"
          media="all"/>

</head>
<body>
{% load_nav_info %}
<div id="page" class="hfeed site">
    <div id="main" class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'share_layout/footer.html' %}
</div>

</body>
</html>