{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block header %}
    {% endblock %}


    <link rel="stylesheet" id='twentytwelve-style-css' href="{% static 'blog/css/style.css' %}" type="text/css"
          media="all"/>

</head>
<body>
{% load_nav_info %}
<div id="page" class="hfeed site">
    <div id="main" class="wrapper">
        {% block content %}
        {% endblock %}
        {% block sidebar %}
        {% endblock %}
    </div>

    {% include 'share_layout/footer.html' %}
</div>

</body>
<footer>
    <script type="text/javascript" src="{% static 'blog/js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'blog/js/blog.js' %}" type="application/javascript"></script>
</footer>
</html>