<footer id="colophon" role="contentinfo">

    <div class="side_info" style="text-align: center">
        Copyright&copy;&nbsp;2017&nbsp;
        {% include 'share_layout/analyticscode.html' %}
    </div>

    <div class="site-info" style="text-align: center">
        Powered by
        <a href="https://www.djangoproject.com/" rel="nofollow" target="blank">Django</a>
        &nbsp;|&nbsp;
        <a href="https://github.com" rel="nofollow" target="blank"> one one</a>
        |
        本页面加载耗时:<!!LOAD_TIMES!!>s
    </div>
</footer>