<section id="comments">
    {% load blog_tags %}
    {% load comment_tags %}
    <ul>
        <li>
            <a href="#commentlist-container">
                <i></i>评论<span>{{ comment_count }}</span>

            </a>
        </li>
    </ul>

    {% if article_comments %}
        <div id="commentlist-container">
            <ol>
                {% query article_comments parent_comment=None as parent_comments %}
                {% for comment in parent_comments %}
                    {% show_comment_item comment False %}
                {% endfor %}

            </ol>

        </div>

    {% endif %}

</section>